//========================================
//          ALL DECLARE VARIABLE
//========================================
// FONT FAMILY
$cairo-family: 'Cairo', sans-serif;
$poppins-family: 'Poppins', sans-serif;
$opensans-family: 'Open Sans', sans-serif;


// COLOR
$aqua: #5ECFFF;
$gray: #fafafa;
$pink: #E328AF;
$white: #ffffff;


$body: #f9f9f9;
$text: #a5a5a5;
$border: #f0f0f0;
$arrow: #c2c2c2;
$heading: #202020;
$sub-heading: #c7c7c7;
$placeholder: #aaaaaa;

$primary: #6418C3;

// SOCIAL COLOR
$facebook: #3b5998;
$linkedin: #0e76a8;
$twitter: #00acee;
$google: #E60023;
$instagram: #F77737;

// BOX SHADOW
$primary-bshadow: 0px 4px 4px rgba(0, 0, 0, 0.04);

// TEXT SHADOW
$primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
